<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="de.cbrell.birt.report.data.oda.spreadsheet.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="%oda.data.source.id">
         <properties>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="false"
                  defaultDisplayName="Spreadsheet Folder"
                  isEncryptable="false"
                  name="spreadsheetFoldername"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="false"
                  defaultDisplayName="Spreadsheet"
                  isEncryptable="false"
                  name="spreadsheetFilename"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="false"
                  defaultDisplayName="Spreadsheet Type"
                  isEncryptable="false"
                  name="spreadsheetType"
                  type="string">
               <choice
                     defaultDisplayName="XLS"
                     name="XLS"
                     value="XLS">
               </choice>
               <choice
                     defaultDisplayName="XLSX"
                     name="XLSX"
                     value="XLSX">
               </choice>
               <choice
                     defaultDisplayName="ODX"
                     name="ODX"
                     value="ODX">
               </choice>
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="de.c-brell.birt.report.data.oda.spreadsheet.dataSet">
         <properties>
            <property
                  name="spreadsheetSheetName"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="Worksheet Name"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="spreadsheetStartRow"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="Start Row"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="spreadsheetEndRowOption"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="End Row"
                  type="choice"
                  isEncryptable="false">
               <choice
                     defaultDisplayName="EOF"
                     name="0"
                     value="0">
               </choice>
               <choice
                     defaultDisplayName="fixed Row"
                     name="1"
                     value="1">
               </choice>
               <choice
                     defaultDisplayName="EMPTY_ROWS"
                     name="2"
                     value="2">
               </choice>
            </property>
            <property
                  name="spreadsheetEndRow"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="End Row"
                  type="string"
                  isEncryptable="false">
            </property>
         </properties>
         <dataTypeMapping
               nativeDataTypeCode="0"
               odaScalarDataType="String"
               nativeDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="1"
               odaScalarDataType="Decimal"
               nativeDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="2"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="3"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="4"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="5"
               nativeDataTypeCode="5"
               odaScalarDataType="Integer">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
